.card
  .card-body
    %h5.card-title
      = blog.user.name
    %h6.card-subtitle.mb-2.text-muted
      = blog.created_at.strftime("%Y/%m/%d(%a) %H:%M")
    %p.card-text
      = simple_format(blog.content)
      - if blog.image
        = image_tag(blog.image)
    - if user_signed_in?
      = link_to "詳細", blog_path(blog), class: "card-link"
      - if blog.user == current_user
        = link_to "編集", edit_blog_path(blog), class: "card-link"
        = link_to "削除", "/blogs/#{blog.id}", method: :delete, class: "card-link"