.content
  = render partial: "blog", locals: {blog: @blog}
  .card
    .card-body
      %h5.card-title
        コメント(
        = @blog.comments.length
        )
      - @comments.each do |comment|
        %p
          = comment.user.name
          ：
          = comment.content
  = form_for [@blog, @comment] do |f|
    .form
      = f.text_field :content, placeholder: "コメント", class: "form__text"
      = f.submit "送信", class: "btn btn-primary form__btn"